$primary-1: #F46200;
$primary-2: #FF6600;
$secondary: #84266a;
$body: #333;
$body-light: #666666;
$form-border: #94A2A6;
$white: #FFFFFF;
$category: #D9D9D9;
$black: #000000;
$font-color: #333;
$footer-bg: #292929;
$button-text: #021B21;
// Font Family
$fontawesome: "FontAwesome";
$font: 'Jost', sans-serif;