.related-news-section {
    margin-top: 75px;
    margin-bottom: 75px;
    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }
    h2 {
        color: $primary-2;
        padding: 0;
        margin: 0;
    }
    .read-all {
        margin-bottom: 34px;
        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }
        a {
            color: var(--287352, #287352) !important;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            white-space: nowrap;
        }
        &:after {
            background-image: url("data:image/svg+xml,%0A%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.36384 4.65179C5.42336 4.71131 5.45312 4.77976 5.45312 4.85714C5.45312 4.93452 5.42336 5.00298 5.36384 5.0625L1.20312 9.22321C1.1436 9.28274 1.07515 9.3125 0.997768 9.3125C0.920387 9.3125 0.851935 9.28274 0.792411 9.22321L0.345982 8.77679C0.286458 8.71726 0.256696 8.64881 0.256696 8.57143C0.256696 8.49405 0.286458 8.4256 0.345982 8.36607L3.85491 4.85714L0.345982 1.34821C0.286458 1.28869 0.256696 1.22024 0.256696 1.14286C0.256696 1.06548 0.286458 0.997023 0.345982 0.9375L0.792411 0.491071C0.851935 0.431547 0.920387 0.401785 0.997768 0.401785C1.07515 0.401785 1.1436 0.431547 1.20312 0.491071L5.36384 4.65179Z' fill='%23287352'/%3E%3C/svg%3E%0A");
            content: "";
            background-repeat: no-repeat;
            width: 6px;
            height: 12px;
            display: inline-block;
            margin-left: 5px;
            color: var(--043-b-48, #043b48);
        }
    }
    .category {
        color: $primary-1;
            font-weight: bold;
            text-transform: uppercase;
        @include media-breakpoint-up(md) {
            padding-top: 15px;
        }

    }
    .title {
        color: $primary-2;
        font-weight: bold;
        font-size: 1.25em;
        margin-bottom: 30px;
        a{
            color: $primary-2;
            &:visited{
                color: $primary-2;
            }
        }
    }
    .row-space {
        padding-bottom: 50px;

        @include media-breakpoint-up(md) {
            padding-bottom: 0;
        }
    }
    .img{
        img{
            border-radius: 8px;
        }
    }
}
